.registerImg{
    width: 100%;
    box-shadow: 0px 0px 2px gray
}

.moredet-addpresc-button{
    border: none;
    color: white;
    background-color: red;
    border-radius: 7px;
    padding: 10px 21px;
    box-shadow: 0px 2px 3px rgb(185, 185, 185);
    font-weight: 600;
}


.moredet-update-button{
    border: none;
    color: white;
    background-color: green;
    border-radius: 7px;
    padding: 10px 21px;
    box-shadow: 0px 2px 3px rgb(185, 185, 185);
    font-weight: 600;
}

.moredet-patient-photo{
    width: 20%;
    height: 185px;
    box-shadow: 0px 0px 2px gray;
}

.doctor-more-det-title{
    color: red;
    font-size: larger;
    text-decoration: underline;
    /* margin-right: -40px; */
    font-weight: 500;
}